body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}


.header {
    background-color: #333;
    color: #fff;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

nav {
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #666;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #fff;
    color: #333;
    font-weight: bold;
}


.section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


#container {
    display: flex;
    background-color: #f9f9f9;
}

#hobby, #dream {
    padding: 10px;
    margin: 5px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


#book ul {
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    background-color: rgb(211, 211, 211);
    overflow: hidden;
}

#book ul li {
    display: inline;
    text-align: center;
}

#book ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    display: inline-block;
    white-space: nowrap;
}

#book ul li a:hover {
    background-color: #333;
    color: #fff;
    font-weight: bold;
}

#book ul li a img {
    width: 91.6px;
    height: 120.6px;
}


#contact {
    background-color: #f9f9f9;
}

#contact a {
    color: #333;
    text-decoration: none;
}

#contact a:hover {
    color: red;
    font-style: italic;
}


table, th, td {
    border: 1px solid #333;
}

table {
    background-color: lightgray;
}

th {
    background-color: gray;
    color: white;
}

td {
    text-align: center;
    background-color: white;
    color: white;
}

td:first-of-type {
    color: black;
}

td:hover {
    filter: brightness(130%);
    color: #333;
}

tr:hover td:first-child {
    background-color: #333;
    color: #fff;
}

td#red {
    background-color: rgb(255, 74, 74);
}

td#yellow {
    background-color: gold;
}

td#lime {
    background-color: rgb(105, 255, 105);
}

td#teal {
    background-color: cadetblue;
}

td#blue {
    background-color: rgb(80, 80, 255);
}

td#orange {
    background-color: orange;
}

td#purple {
    background-color: rgb(149, 35, 255);
}

td#green {
    background-color: rgb(40, 151, 40);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}